<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageworx" sortOrder="2001">
            <label>MageWorx</label>
        </tab>
        <section id="mageworx_multifees" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Multi Fees</label>
            <tab>mageworx</tab>
            <resource>MageWorx_MultiFees::config_multifees</resource>
            <group id="main" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MageWorx MultiFees</label>
                <field id="enable_cart" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Enable Fees]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[This setting enables/disables the fees functionality on the front-end.]]>
                    </comment>
                </field>
                <field id="display_product_fee" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Display Product Fees on Product Page]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This setting allows you to display the product hidden fees directly on the product pages.]]></comment>
                </field>
                <field id="product_fee_block_label" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Label]]></label>
                    <comment>
                        <![CDATA[This setting allows you to change a label for the fees block, which is displayed on the product pages. Leave empty to hide the label.]]>
                    </comment>
                    <depends>
                        <field id="display_product_fee">1</field>
                    </depends>
                </field>
                <field id="product_fee_position" translate="label comment" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Product Fees Position]]></label>
                    <source_model>MageWorx\MultiFees\Model\Config\Source\Position</source_model>
                    <comment>
                        <![CDATA[This setting defines, where exactly the product hidden fees should be shown on the product pages.]]>
                    </comment>
                    <depends>
                        <field id="display_product_fee">1</field>
                    </depends>
                </field>
                <field id="apply_fee_on_click" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Apply Fee on Click]]></label>
                    <comment><![CDATA[This setting defines how the fees should be applied in the cart or during the checkout. If enabled, the fees will be automatically applied once they are selected. If disabled, the fees can be applied by clicking on the "Apply" button.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--For shipping fee - for the future realize-->
                <!--<field id="include_fee_in_shipping_price" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label><![CDATA[Include Fee in Shipping Price]]></label>-->
                    <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                <!--</field>-->
                <field id="tax_calculation_includes_tax" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Calculation Settings]]></label>
                    <source_model>Magento\Tax\Model\System\Config\Source\PriceType</source_model>
                    <comment><![CDATA[This setting defines whether the prices of the fees (in the back-end) include or exclude the taxes.]]></comment>
                </field>
                <field id="display_tax_in_block" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Display Prices in Additional Fees Block]]></label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <comment><![CDATA[This setting defines whether the fees in the 'Additional fees' block on the front-end should be displayed including, excluding taxes or including and excluding taxes.]]></comment>
                </field>
                <field id="display_tax_in_cart" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Display Additional Fees Amount in Cart Total]]></label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <comment><![CDATA[This setting defines whether the fees in the 'Totals' block on the front-end should be displayed including, excluding taxes or including and excluding taxes.]]></comment>
                </field>
                <field id="display_tax_in_sales" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Display Additional Fees Amount in Orders, Invoices, Credit Memos]]></label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <comment><![CDATA[This setting defines whether the fees in the 'Additional fees' block in the orders, invoices and credit memos should be displayed including, excluding taxes or including and excluding taxes.]]></comment>
                </field>
                <field id="expand_fee_details_in_pdf" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Display Detailed Fees List in Orders, Invoices, Credit Memos]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This setting defines whether the extension should display the detailed list of all applied fees or just 'Additional fees' row in the orders, invoices and credit memos.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
