<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageSuite\Magepack\Block\BundlesLoader"
                type="Smartblinds\Magepack\Block\BundlesLoader" />

</config>
