<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->

<!-- ko if: isDisplayed() -->
    <!-- ko foreach: getDetails() -->
        <!-- ko foreach: options -->
        <tr class="totals-mageworx-fee-details-tax">
            <!-- ko if: percent -->
            <th class="mark" scope="row" data-bind="text: title + ' (' + $parents[1].formatToFixed(percent) + '%)'"></th>
            <!-- /ko -->
            <!-- ko if: !percent -->
            <th class="mark" scope="row" data-bind="text: title"></th>
            <!-- /ko -->
            <td class="amount">
                            <span class="price"
                                  data-bind="text: $parents[1].formatPrice(price), attr: {'data-th': title, 'rowspan': $parents[0].options.length }"></span>

            </td>
        </tr>
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->
