<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<div id="mageworx-payment-fee-container" data-bind="blockLoader: isLoading, visible: shouldShow">

    <!-- ko if: isDisplayTitle() -->
    <div class="title" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
        <strong role="heading"></span>
            <span>Payment Fees</span>
        </strong>
    </div>
    <!--/ko-->

    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div>
        <form id="mageworx-payment-fee-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
            <fieldset class="fieldset">
                <!-- ko foreach: getRegion('mageworx-payment-fee-form-fields') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>
            <!--<button type="reset" data-bind="click: onSubmit" class="action">
                <span data-bind="i18n: 'Reset'"></span>
            </button>-->
            <!-- ko ifnot: applyOnClick -->
            <button type="button" data-bind="click: onSubmit" class="action">
                <span data-bind="i18n: 'Apply Payment Fee'"></span>
            </button>
            <!--/ko-->
        </form>
    </div>
</div>
