<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="GoMage_addons_product_save_before" instance="GoMage\Addons\Observer\SerializedFunctionality" />
    </event>
    <event name="catalog_category_save_before">
        <observer name="GoMage_addons_category_save_before" instance="GoMage\Addons\Observer\SerializedCategoryFunctionality" />
    </event>
</config>
