<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Cms\Block\Page"
                type="Smartblinds\Cms\Block\Page" />

    <type name="Magento\Cms\Helper\Page">
        <plugin name="smartblinds_cms_translate_content_heading"
                type="Smartblinds\Cms\Plugin\Helper\Page\TranslateContentHeading" />
    </type>

    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin name="smartblinds_cms_model_wysiwyg_images_storage"
                type="Smartblinds\Cms\Plugin\Model\Wysiwyg\Images\Storage" />
    </type>

    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
