<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="add_to_cart" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Add To Cart Widget</label>
            <tab>smartblinds</tab>
            <resource>Smartblinds_AddToCart::config</resource>
            <group id="general" translate="label" type="text" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="discount_cms_block" translate="label comment" type="select" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount CMS Block</label>
                    <source_model>Smartblinds\AddToCart\Model\Config\Source\CmsBlocks</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
