<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Page\Config">
        <plugin name="gomage_cookiebot_add_cookie_consent_page_asset"
                type="GoMage\Cookiebot\Plugin\Framework\View\Page\Config\AddCookieConsentPageAsset" />
    </type>

</config>
