<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <security>
                <max_session_size_admin>2560000</max_session_size_admin>
            </security>
        </system>
    </default>
</config>
