<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smartblinds_preload_links" translate="label" type="text" sortOrder="1000"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Link Preload</label>
            <tab>smartblinds</tab>
            <resource>Smartblinds_PreloadLinks::config</resource>
            <group id="general" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>General</label>
                <field id="render_enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Render Preload Links</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="category" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>Category</label>
                <field id="collect_enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Collect Links To Render</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image_display_areas" translate="label" type="textarea" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Image Display Areas</label>
                    <comment>Must match to which are used in product list template</comment>
                    <depends>
                        <field id="collect_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="product" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>Product</label>
                <field id="collect_enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Collect Links To Render</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="main_image_key" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main Image Key</label>
                    <comment>Must match the key which is used in product view gallery template</comment>
                    <depends>
                        <field id="collect_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
