<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smartblinds_theme" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Theme</label>
            <tab>smartblinds</tab>
            <resource>Smartblinds_Theme::config</resource>
            <group id="general" translate="label" type="text" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="head" type="textarea" translate="label" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Content in the beggining of head</label>
                </field>
            </group>
        </section>
    </system>
</config>
