<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="smartblinds_two_factor_auth_check" instance="Smartblinds\TwoFactorAuth\Observer\ControllerActionPredispatch" />
        <observer name="two_factor_auth_check" disabled="true" />
    </event>
</config>
