<!-- ko if: (isVisible()) -->
<!-- ko if: isBillingNotSameAsShipping() -->
    <tr class="shipping-information billing-info">
        <td colspan="2" class="ship-to">
            <div class="shipping-information-content">
                <div class="col-2">
                    <div class="title"><!-- ko i18n: 'Billing Address'--><!-- /ko --></div>
                    <text args="currentBillingAddress().street.join(', ')"></text>
                    <each args="data: currentBillingAddress().customAttributes, as: 'element'">
                        <if args="element['attribute_code'] == 'tig_housenumber' || element['attribute_code'] == 'tig_housenumber_addition'">
                            <text args="element.value"></text>
                        </if>
                    </each><br />
                    <text args="currentBillingAddress().city "></text>, <span text="currentBillingAddress().region"></span> <text args="currentBillingAddress().postcode"></text><br />
                    <text args="getCountryName(currentBillingAddress().countryId)"></text><br />
                </div>
                <div class="col-2">
                    <div class="title"><!-- ko i18n: 'Personal data'--><!-- /ko --></div>
                    <text args="currentBillingAddress().prefix"></text> <text args="currentBillingAddress().firstname"></text> <text args="currentBillingAddress().middlename"></text>
                    <text args="currentBillingAddress().lastname"></text> <text args="currentBillingAddress().suffix"></text><br />
                    <span data-bind="text: getCustomerEmail()"></span><br />
                    <a if="currentBillingAddress().telephone" attr="'href': 'tel:' + currentBillingAddress().telephone" text="currentBillingAddress().telephone"></a>
                </div>
            </div>
        </td>
    </tr>
<!--/ko-->
<!--/ko-->
